@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swagger UI overrides */
.swagger-ui .topbar { display: none !important; }
.swagger-ui .information-container { padding: 0 !important; }
.swagger-ui .info { margin: 0 0 1rem !important; }
.swagger-ui .info .title { font-size: 1.125rem !important; }
.swagger-ui .wrapper { padding: 0 !important; max-width: none !important; }
.swagger-ui .scheme-container { padding: 0 !important; box-shadow: none !important; background: transparent !important; }
